.header_title {
    height: 100vh;
    width: 100vw;
}

.header_title h1 {
    text-align: center;
    font-family: "Baskerville Old Face", sans-serif;
    font-size: 120pt;
}

#create_idea {
    display: flex;
    justify-content: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

#create_idea > a {
    color: black;
    text-decoration: none;
    font-size: 25pt;
    transition-duration: 0.5s;
    margin-bottom: 50px;
}

#create_idea > a:hover {
    font-size: 35pt;
}

.list-element {

color: black;

margin-bottom: 100px;

margin-left: auto;
margin-right: auto;

}

.list-element img {
    object-fit: cover;
}

p {
    padding-bottom: 10%;
    word-wrap: break-word;
    overflow-y: auto;
}

.actions {
    bottom: 5%;
    display: inline-flex;
    justify-content: space-between;
}

#form-idea {
    height: 50%;
    width: 100%;
    display: inline-grid;
}

#form-idea > input {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
}

#form-idea > textarea {
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    height: 25vh;
    resize: none;
    font-family: "Baskerville Old Face", sans-serif;
}




        
    
    
