header{
    width: 100%;
    height: 100vh;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    background: linear-gradient(#1c385e,#1c4b5e);
    display: flex;
    justify-content: space-between;
  }
  
  nav ul{
    display: inline;
  }