@font-face {
  font-family: "font_content";
  src: url(/fonts/segoeui.woff?a1ff5ea4b5043dee2773c80012448ac8);
}

body {
  margin: 0;
  padding: 0;
  font-family: font_content;
  color: white;
}

#text_home {
  margin-left: 10%;
  margin-top: 6%;
  width: 50%;
}

#text_home #title_home {
  font-size: 60pt;
}

#text_home #description_home {
  font-size: 30pt;
}

#auth_home {
  margin-left: 15%;
}

#auth_home #input_home_color {
  background: #ffc252;
  color: white;
  width: 200px;
  height: 50px;
  margin-top: 20px;
  border: none;
  font-size: 1.5em;
  display: inline-block;
  border-radius: 50px;
  outline: none;
  transition-duration: 0.5s;
}

#auth_home #input_home {
  background: none;
  color: white;
  width: 200px;
  height: 50px;
  margin-top: 20px;
  border: none;
  font-size: 1.5em;
  display: inline-block;
  border-radius: 50px;
  outline: none;
  transition-duration: 0.5s;
}

#auth_home #input_home_color:hover {
  color: black;
  box-shadow: 0px 0px 10px 5px #ffc252;
}

#auth_home #input_home:hover {
  color: black;
}

#img_home {
  position: absolute;
  top: 50%;
  right: 5%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#img_home img {
  width: 600px;
}

@media only screen and (max-width: 1200px) {
  #img_home {
    display: none;
  }

  #text_home {
    width: 90%;
  }
}

@media only screen and (max-width: 1280px) {
  #img_home {
    display: none;
  }

  #text_home {
    width: 90%;
  }
}

@media only screen and (max-width: 812px) {
  #text_home {
    text-align: center;
    margin: 0;
    width: 100%;
  }

  #text_home #title_home {
    font-size: 30pt;
  }

  #text_home #description_home {
    font-size: 10pt;
  }

  #auth_home {
    margin: 0;
    text-align: center;
  }
}

