<<<<<<<
.button {
  background: #ffc252;
  color: white;
<<<<<<< develop
<<<<<<< Updated upstream
=======
>>>>>>> Auto stash before merge of "feature/pages" and "develop"
  width: 200px;
  height: 50px;
  border: none;
  font-size: 15pt;
<<<<<<< develop
<<<<<<< develop
<<<<<<< develop
=======
>>>>>>> Auto stash before merge of "feature/pages" and "develop"
  display: inline-block;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
}

.button :active {
  cursor: click;
}

.is-light {
  color: black;
  background: white;
}

.is-valid {
  background: #00a390;
}

<<<<<<< develop
<<<<<<< develop
<<<<<<< develop
.blue {
  background: #275086;
}

.red {
  background: #f44336;
}

=======
>>>>>>> Auto stash before merge of "feature/pages" and "develop"
=======

=======
.button {
  background: #ffc252;
  color: white;
  border: none;
  font-size: 1.5em;
=======
>>>>>>> Revert "Merge branch 'feature/pages' into develop"
=======
=======
  border: none;
  font-size: 1.5em;
>>>>>>> Stashed changes
>>>>>>> Auto stash before merge of "feature/pages" and "develop"
  display: inline-block;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
}

.button :active {
  cursor: click;
}

.is-light {
  color: black;
  background: white;
}

.is-valid {
  background: #00a390;
}

<<<<<<< develop
<<<<<<< develop

>>>>>>>
>>>>>>> Auto stash before merge of "feature/pages" and "develop"
=======
>>>>>>> Revert "Merge branch 'feature/pages' into develop"
=======
=======
>>>>>>> Auto stash before merge of "feature/pages" and "develop"

=======
.button {
  background: #ffc252;
  color: white;
  border: none;
  font-size: 1.5em;
  display: inline-block;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
}

.button :active {
  cursor: click;
}

.is-light {
  color: black;
  background: white;
}

.is-valid {
  background: #00a390;
}


<<<<<<< develop
>>>>>>>
>>>>>>> Auto stash before merge of "feature/pages" and "develop"
=======
>>>>>>>
>>>>>>> Auto stash before merge of "feature/pages" and "develop"
