.evenement_list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.evenement_list .evenement_element {
  margin: 50px 0px;
}

.evenement_list .evenement_element .title_event {
  text-decoration: none;
  color: black;
}

.modal {
  position: fixed;
  z-index: 1000000;
  display: none;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal .modal-content {
  background: white;
  color: black;
  width: 80vw;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  position: absolute;
  right: 10vw;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.modal .modal-content .modal-header {
  width: 80vw;
  height: 460px;
  display: flex;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.15);
}

.modal .modal-content .content {
  width: 60%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modal .modal-content h2 {
  margin: 0;
  font-size: 4em;
  font-family: "Baskerville Old Face", sans-serif;
}

.modal .modal-content p {
  font-size: 1.8em;
}

.modal .modal-content img {
  width: 40%;
  -o-object-fit: scale-down;
  object-fit: scale-down;
}

.modal .modal-content .actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal .modal-content .infos {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal .modal-content .galerie_photo {
  text-align: center;
  padding: 20px 0px;
}

.modal .modal-content .photo {
  width: 25vw;
  height: 275px;
  border-radius: 30px;
  background: gray;
}

