.list-element {
  background: white;
  color: black;
  width: 80vw;
  height: 360px;
  display: flex;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.15);
}

.list-element .content {
  width: 60%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.list-element .content h2 {
  margin: 0;
  font-size: 4em;
  font-family: "Baskerville Old Face", sans-serif;
}

.list-element .content p {
  font-size: 1.8em;
}

.list-element img {
  width: 40%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

.list-element .actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

