.profil {
  width: 90%;
  padding: 2% 5%;
  display: flex;
  justify-content: center;
  color: black;
}

.profil #profil_avatar {
  text-align: center;
  margin-right: 50px;
}

.profil #profil_avatar #profil_img {
  width: 250px;
  height: 250px;
  border-radius: 250px;
}

.profil #profil_avatar #profil_img_change a {
  text-decoration: none;
  color: black;
}

.profil #profil_content {
  margin-left: 50px;
}

.profil #profil_content .profil_warp {
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 20px 0px;
}

.profil #profil_content .profil_title {
  padding: 0px 10px;
  font-size: 30pt;
  margin: 0;
}

.profil #profil_content .profil_desc {
  padding: 0px 10px;
  font-size: 30pt;
  font-style: italic;
  margin: 0;
}

.profil #profil_content .profil_desc_input {
  padding: 10px 10px;
  font-size: 20pt;
}

@media only screen and (max-width: 992px) {
  .profil {
    text-align: center;
  }

  .profil #profil_content .profil_title {
    font-size: 15pt;
  }

  .profil #profil_content .profil_desc {
    font-size: 10pt;
  }

  .profil #profil_content .profil_desc_input {
    font-size: 10pt;
  }
}

@media only screen and (max-width: 545px) {
  .profil {
    flex-direction: column;
    align-items: center;
  }

  .profil #profil_avatar {
    margin: 0;
  }

  .profil #profil_avatar #profil_img {
    width: 200px;
    height: 200px;
    border-radius: 200px;
  }

  .profil #profil_content {
    margin: 0;
  }

  .profil #profil_content .profil_warp {
    margin: 10px 0px;
  }

  .profil #profil_content .profil_title {
    font-size: 15pt;
  }

  .profil #profil_content .profil_desc {
    font-size: 10pt;
  }

  .profil #profil_content .profil_desc_input {
    font-size: 10pt;
  }
}

