.profil {
  width: 90%;
  padding: 2% 5%;
  display: flex;
  justify-content: center;
  color: black;
}

.profil #profil_avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 50px;
}

.profil #profil_avatar #profil_img {
  width: 250px;
  height: 250px;
  border-radius: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}

.profil #profil_avatar #profil_img_change {
  margin: 20px;
}

.profil #profil_content {
  margin-left: 50px;
}

.profil #profil_content .profil_warp {
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 20px 0px;
}

.profil #profil_content .profil_title {
  padding: 0px 10px;
  font-size: 30pt;
  margin: 0;
}

.profil #profil_content .profil_desc {
  padding: 0px 10px;
  font-size: 30pt;
  font-style: italic;
  margin: 0;
}

.profil #profil_content .profil_desc_input {
  padding: 10px 10px;
  font-size: 20pt;
}

.profil_modal {
  display: none;
  position: fixed;
  z-index: 1000000;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}

.profil_modal .profil_content {
  background: white;
  color: black;
  width: 50vw;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  position: absolute;
  right: 25vw;
  top: 10%;
}

.profil_modal .profil_content form {
  text-align: center;
  margin: 25px;
}

.profil_modal .profil_content form .profil_warp {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profil_modal .profil_content form .profil_warp .profil_desc_input {
  margin-left: 20px;
}

@media only screen and (max-width: 992px) {
  .profil {
    text-align: center;
  }

  .profil #profil_content .profil_title {
    font-size: 15pt;
  }

  .profil #profil_content .profil_desc {
    font-size: 10pt;
  }

  .profil #profil_content .profil_desc_input {
    font-size: 10pt;
  }

  .profil_modal .profil_content {
    width: 80vw;
    right: 10vw;
  }
}

@media only screen and (max-width: 545px) {
  .profil {
    flex-direction: column;
    align-items: center;
  }

  .profil #profil_avatar {
    margin: 0;
  }

  .profil #profil_avatar #profil_img {
    width: 200px;
    height: 200px;
    border-radius: 200px;
  }

  .profil #profil_content {
    margin: 0;
  }

  .profil #profil_content .profil_warp {
    margin: 10px 0px;
  }

  .profil #profil_content .profil_title {
    font-size: 15pt;
  }

  .profil #profil_content .profil_desc {
    font-size: 10pt;
  }

  .profil #profil_content .profil_desc_input {
    font-size: 10pt;
  }

  .profil_modal .profil_content {
    width: 80vw;
    right: 10vw;
  }

  .profil_modal .profil_content form .profil_warp {
    display: block;
  }

  .profil_modal .profil_content form .profil_warp .profil_desc_input {
    margin-left: 0;
    margin-bottom: 20px;
  }
}

